.container{
    display: flex;
    flex-direction: column;
    
    color: var(--color-text);
}


.message-container{
    position: relative;
    max-width: var(--size-chat-message-max-width);
    align-self: flex-start;
    padding: var(--spacing-md);
    border-radius: var(--size-radius-md);
    background-color: var(--color-level2-bg);
}



.message{
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-sm);
}

.time{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: var(--spacing-sm);
    font-size: var(--font-size-xs);
    color: var(--color-subheading-text);
}










.self{
    align-self: flex-end;
    background-color: var(--color-primary);
    color: var(--color-text-over-primary);
}

.time-self{
    color: var(--color-subheading-text-over-primary);
}