.container{
    display: flex;
    flex-direction: column;
    
    color: var(--color-text);
}


.message-container{
    position: relative;
    max-width: var(--size-chat-message-max-width);
    align-self: flex-start;
    padding: var(--spacing-ls);
    border-radius: var(--size-radius-md);
    background-color: var(--color-level2-bg);

    word-break: break-all;
}

.image-style{
    padding: var(--spacing-sm);
    max-width: min-content;
}

.message-image{
    width: var(--size-image-width);
    border-radius: var(--size-radius-sm);
}

.message{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-md);
    /* margin-bottom: var(--spacing-md); */
}

.time{
    margin-top: var(--spacing-xs);
    justify-self: flex-end;
    word-break: keep-all;
    width: max-content;

    font-size: var(--font-size-xs);
    color: var(--color-subheading-text);
}










.self{
    align-self: flex-end;
    background-color: var(--color-primary);
    color: var(--color-text-over-primary);
}

.time-self{
    color: var(--color-subheading-text-over-primary);
}