.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
    margin-left: var(--spacing-sm);
    background-color: var(--color-level2-bg);
    border-radius: var(--size-radius-sm);
    /* user-select: none; */
    cursor: pointer;
}

.large-container{
    padding: var(--spacing-md);
    border-radius: var(--size-radius-md);
}

.level1{
    background-color: var(--color-level1-bg);
}

.left{
    margin-right: var(--spacing-sm);
}
.circle{
    border-radius: 50%;
    width: var(--size-icon-xs);
    height: var(--size-icon-xs);
}

.large-circle{
    margin-right: var(--spacing-sm);
    width: var(--size-icon-sm);
    height: var(--size-icon-sm);
}

.right{
    font-size: var(--font-size-md);
    color: var(--color-text);
}

.large{
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-medium);
}

.delete-container{
    display: flex;
    align-items: center;    
}

.close-icon{
    margin-left: var(--spacing-sm);
    padding: var(--spacing-xs);
    background-color: var(--color-level2-bg);
    border-radius: var(--size-radius-circle);
}

.spinner{
    padding: var(--spacing-xs);
}