.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
    margin-top: var(--spacing-xxl);
    color: var(--color-subheading-text);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    user-select: none;
}

.heart{
    color: var(--color-error);
}