.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    margin: var(--spacing-md) 0;
    color: var(--color-subheading-text);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
}

.heart{
    color: var(--color-error);
}