.input-wrapper{
    position: relative;
    display:flex;
    align-items: center;
    width: 100%;
}


.input-name{
    width: 100%;
    background-color: var(--color-input-area);
    color: var(--color-text);
    height: var(--size-input-height);
    border: 1px solid transparent;
    border-radius: var(--size-radius-sm);
    padding: var(--spacing-sm);
    margin: var(--spacing-md) var(--spacing-md);
    font-size: var(--font-size-sm);
    transition: all 0.2s ease-in-out;
}

.input-name::placeholder {
    color: var(--color-subheading-text);
}

.input-name:focus{
    outline: none;
    border: 1px solid var(--color-border);
    transition: all 0.2s ease-in-out;
}

.svg-icon{
    position: absolute;
    right: var(--spacing-xl);
    color: var(--color-primary);
    width: var(--size-icon-md);
    height: var(--size-icon-md);
}