.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: var(--spacing-sm) 0; */
}

.timeline{
    display: flex;
    font-size: var(--font-size-sm);
    
    background-color: var(--color-level2-bg);
    border-radius: var(--size-radius-sm);

    padding: var(--spacing-sm);
    /* font-weight: var(--font-weight-medium); */
}