
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon{
    position: absolute;
    top: var(--spacing-md);
    left: var(--spacing-md);
    height: var(--size-icon-xl);
}

.inner-container{
    flex-grow: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}


.heading{
    margin-left: var(--spacing-sm);
    color: var(--color-subheading-text);
}



/* ======================================================= */
/* Media query for smaller screens */

@media(max-width:480px){
    .inner-container{
        max-width: 280px;
    }
}