.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.icon{
    height: var(--size-icon-xl);
    margin-left: var(--spacing-sm);
}

.inner-container{
    flex-grow: 2;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading{
    margin-left: var(--spacing-sm);
    color: var(--color-subheading-text);
}

.resend-link{
    margin-left: var(--spacing-sm);
    font-size: var(--font-size-sm);
}

.resend-link:hover{
    cursor: pointer;
}

@media(max-width:480px){
    .inner-container{
        max-width: 330px;
    }
}