.container{
    position: relative;
    display: flex;
    background-color: var(--color-level2-bg);
    padding: var(--spacing-sm);
    border-radius: var(--size-radius-sm);
    color: var(--color-text);
    cursor:default;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-sm);
    font-size: var(--font-size-sm);
    /* color: var(--color-subheading-text); */
}
.left .date{
    display: flex;
    width: max-content;
}
.left .time{
    display: flex;
    gap: var(--spacing-xs);
}

.separator{
    margin: 0 var(--spacing-sm);
    border-left: var(--size-border-sm) solid var(--color-border-light);
}

.notification{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-sm);
}
.notification-type{
    font-weight: var(--font-weight-medium);
}
.notification-message{
    cursor: pointer;
    font-size: var(--font-size-sm);
    /* color: var(--color-subheading-text); */
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
    font-size: var(--font-size-sm);
    cursor: pointer;
    color: var(--color-subheading-text);
    /* background-color: purple; */
}
.icon{
    /* background-color: red; */
    height: var(--size-icon-sm);
    width: var(--size-icon-sm);
    transform: rotateY(180deg);
}

.unread{
    position: absolute;
    /* top: var(--spacing-xs);
    right: var(--spacing-xs); */
    top: 0;
    right: 0;
    margin: var(--spacing-sm);
    border-radius: var(--size-radius-circle);

    height: var(--size-icon-xs);
    width: var(--size-icon-xs);
    background-color: var(--color-primary);
}
