.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: var(--color-text);
    word-break: break-all;
}

.main-content{
    flex-shrink: 1;
    max-width: var(--size-max-width);
    padding: var(--spacing-ls);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.question-title{
    display: flex;    
    align-items: center;
    gap: var(--spacing-md);
}

.question-icon{
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    color: var(--color-text);
}

.title-text{
    flex-grow: 1;
    display: flex;
    font-size: var(--font-heading);    
    font-weight: var(--font-weight-medium);
    /* color: red; */
}

.actions-container{
    display: flex;
    gap: var(--spacing-md);
}


.question-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin: var(--spacing-md); */
    margin: var(--spacing-lg) 0 var(--spacing-sm) 0;
    padding: var(--spacing-lg);

    background-color: var(--color-level1-bg);
    border-radius: var(--size-radius-md);

    flex-wrap: wrap;

    font-size: var(--font-size-md);
}

.question-meta{
    display: flex;
    align-items: center;
}

.left{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
    margin-left: var(--spacing-lg);
}

.question-time{
    font-size: var(--font-size-sm);
    color: var(--color-subheading-text);
    margin-right:var(--spacing-md);
}

.time-val{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: var(--color-text);
}


.right{
    /* flex-grow: 1; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: var(--spacing-lg);
    margin-left: var(--spacing-sm);

    background-color: var(--color-level1-bg);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--size-radius-ls);
}

.profile{
    width: var(--size-icon-md);
    height: var(--size-icon-md);
}

.user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-sm);
    margin-left: var(--spacing-sm);
}

.user-name{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
}

.user-reputation{
    display: flex;
}

.reputation-icon{
    height: var(--size-icon-sm);
    width: var(--size-icon-sm);
    color: var(--color-primary);
}

.reputation-count{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
}



.submit-answer-container{
    margin: var(--spacing-xl) 0;
    border-top: var(--size-border-sm) solid var(--color-border-light);
}

/* .submit-answer-textarea{
    margin-top: var(--spacing-lg);
    width: 100%;
    height: 200px;
    max-width: var(--size-max-width);
    border-radius: var(--size-radius-ls);
    overflow: hidden;
} */

.answers-container{
    display: flex;
    margin-top: var(--spacing-xl);
    gap: var(--spacing-md);
}

.answers{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.load-more-answers{
    display: flex;    
    max-width: max-content;
}

@media (max-width:700px) {
    .answers-container{
        flex-direction: column;
    }
}