.container{
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: var(--size-max-width);
    margin: var(--spacing-lg) auto;
    padding: var(--spacing-md);
    color: var(--color-text);
}

.icon{
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    color: var(--color-primary);
}

.top-profile{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* background-color: red; */
}


.user-profile{
    height: var(--size-image-height);    
    width: var(--size-image-height);    
}

.left{
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
    margin: var(--spacing-sm);
    /* background-color: red; */
}

.report-user{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    height: var(--size-icon-sm);
    width: var(--size-icon-sm);
    color: var(--color-error);
}

.user-name{
    font-size: var(--font-heading);
    font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-md);
}

.user-education{
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    font-weight: var(--font-weight-medium);
}

.user-actions{
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-md);
    /* background-color: green; */
}

.user-actions .icon{
    cursor: pointer;
}

.donate-icon-container{
    position: relative;
}

.donate-icon{
    color: var(--color-error);
}

.payment-modal{
    display: flex;
    position: absolute;
    top: 101%;
    left: 102%;
    z-index: 1001;
}

.right{
    flex-grow: 1;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: var(--spacing-md);
}

.user-highlights{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);

    background-color: var(--color-level1-bg);
    padding: var(--spacing-md);
    padding-left: var(--spacing-lg);
    border-radius: var(--size-radius-md);
}
.user-highlights .title{
    color: var(--color-primary);
    font-size: var(--font-heading);
    font-weight: var(--font-weight-bold);
}

.user-stats{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    align-self: center;
    gap: var(--spacing-xm);
}

.user-reputation{
    margin-top: var(--spacing-sm);
}

@media (max-width:600px) {
    .top-profile{
        flex-direction: column;
        gap: var(--spacing-lg);
    }
}