.header{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
    padding: var(--spacing-md) var(--spacing-sm);
    /* width : 100%; */

}

.left-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: orange;     */
}
.message-icon-wrapper{
    position: relative;
}

.middle-container{
    flex-grow: 1;
    padding: 0 var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: greenyellow; */
}

.right-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: violet; */
}

.icon{
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    color: var(--color-primary);
    cursor: pointer;
}


/* .search-box{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    border: var(--size-border-md) solid transparent;
    border-radius:  var(--size-radius-lg);
    background-color: var(--color-input-area);
    padding: 0 var(--spacing-sm);
}

.search-box:focus-within{
    border: var(--size-border-md) solid var(--color-primary);
}

.search-input{
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--color-input-area);
    color: var(--color-text);
    height: var(--size-input-height);
    border-radius:  var(--size-radius-lg);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-sm);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.search-icon{
    height: var(--size-icon-sm);
    width: var(--size-icon-md);
    color: white;
    cursor: pointer;
}

.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--size-radius-circle);
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    background-color: var(--color-primary);
} */


.notification-modal-wrapper{
    position:relative;
    display: flex;
    align-items: center;
}

.notification-modal{
    position: absolute;

    right: 10%;
    top: 100%; 
    z-index: 1000;

    margin: 0;
}





/* .profile-wrapper{
    position: relative;    
} */

.profile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.user-profile{
    cursor: pointer;    
    width: var(--size-icon-xm);
    height: var(--size-icon-xm);
}

.user-action{
    position: absolute;

    margin-top: var(--spacing-sm);
    border-radius: var(--size-radius-md);
    background-color: var(--color-level1-bg);
    
    right: 0;
    top: 100%; 
    z-index: 1000;
}

.user-action ul{
    list-style: none;;
    margin: 0;
    padding: 0;
}

.user-action li{
    padding: var(--spacing-md);
    color: var(--color-subheading-text);
    cursor: pointer;
    transition-duration: 200ms;
}

.user-action li:hover{
    color: var(--color-text);
    /* scale: 1.04; */
    transition-duration: 200ms;
}


.unread-indicator{
    position: absolute;
    top: 0;
    right: 0;
    height: var(--size-icon-lxs);
    width: var(--size-icon-lxs);
    border-radius: var(--size-radius-circle);
    background-color: var(--color-primary);
}

.user-action ul li{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--spacing-md);
    /* background-color:red; */
}

.header-icon{
    color: var(--color-primary);
    fill: var(--color-primary);
    height: var(--size-icon-sm);
    width: var(--size-icon-sm);
}

.upper-border-divider{
    border-top: var(--size-border-sm) solid var(--color-danger);
}
.upper-border-divider .header-title{
    color: var(--color-danger);
}
.upper-border-divider .header-icon{
    fill: var(--color-danger);
}

@media (max-width : 600px) {
    /* .right-container, .left-container{
        display: none;
    } */
    .middle-container{
        flex-grow: 0;
        padding: 0;
    }
    .search-input{
        display: none;
    }
    .search-box{
        padding: 0;
    }
    .icon{
        height: var(--size-icon-ls);
        width: var(--size-icon-ls);
    }
    .site-icon{
        height: var(--size-icon-lg);
        width: var(--size-icon-lg);
    }
    /* .notification-modal{
        right: 0%;
        left: 10%;
    } */
}