.header{
    display: flex;
    justify-content: space-evenly;
    
    padding: var(--spacing-sm);
    /* width : 100%; */

}

.left-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: orange;    
}

.middle-container{
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: greenyellow; */
}

.right-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: violet;
}

.search-box{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    border: 1px solid var(--color-primary);
    border-radius:  var(--size-radius-lg);
    background-color: var(--color-input-area);
    padding: 0 var(--spacing-sm);
}

.search-input{
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--color-input-area);
    color: var(--color-text);
    height: var(--size-input-height);
    border-radius:  var(--size-radius-lg);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-sm);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--size-radius-circle);
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    background-color: var(--color-primary);
}