.header{
    display: flex;
    justify-content: space-evenly;
    
    padding: var(--spacing-md) var(--spacing-sm);
    /* width : 100%; */

}

.left-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: orange;     */
}

.middle-container{
    flex-grow: 1;
    padding: 0 var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: greenyellow; */
}

.right-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: violet; */
}

.icon{
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    color: var(--color-primary);
    cursor: pointer;
}


.search-box{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    border: var(--size-border-md) solid var(--color-primary);
    border-radius:  var(--size-radius-lg);
    background-color: var(--color-input-area);
    padding: 0 var(--spacing-sm);
}

.search-input{
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--color-input-area);
    color: var(--color-text);
    height: var(--size-input-height);
    border-radius:  var(--size-radius-lg);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-sm);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.search-icon{
    height: var(--size-icon-sm);
    width: var(--size-icon-md);
    color: white;
    cursor: pointer;
}

.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--size-radius-circle);
    height: var(--size-icon-md);
    width: var(--size-icon-md);
    background-color: var(--color-primary);
}

.profile-wrapper{
    position: relative;    
}

.user-profile{
    cursor: pointer;    
}

.user-action{
    margin-top: var(--spacing-sm);
    position: absolute;
    right: var(--spacing-sm);
    border-radius: var(--size-radius-md);
    z-index: 1000;
    background-color: var(--color-level1-bg);
}

.user-action ul{
    list-style: none;;
    margin: 0;
    padding: 0;
}

.user-action li{
    padding: var(--spacing-md);
    color: var(--color-text);
    cursor: pointer;
}

.ui-action li:hover{
    background-color: var(--color-primary-extra-light);
}

@media (max-width : 600px) {
    /* .right-container, .left-container{
        display: none;
    } */
    .middle-container{
        flex-grow: 0;
        padding: 0;
    }
    .search-input{
        display: none;
    }
    .search-box{
        padding: 0;
    }
    .icon{
        height: var(--size-icon-lsm);
        width: var(--size-icon-lsm);
    }
    .site-icon{
        height: var(--size-icon-lg);
        width: var(--size-icon-lg);
    }
}