.button-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}
.button{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-lg);

    border: none;
    border-radius: var(--size-radius-sm);

    background-color: var(--color-button-primary);
    color: var(--color-text-button);

    margin: var(--spacing-sm);
    padding: var(--spacing-lg);
    height: var(--size-button-height);

    transition-duration: 200ms;
}

.disabled{
    background-color: var(--color-button-disabled);
    transition-duration: 200ms;
}