.button-wrapper{
    display: flex;
    align-items: center;
}
.button{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-lg);

    border: none;
    border-radius: var(--size-radius-sm);

    background-color: var(--color-button-primary);
    color: var(--color-text-button);

    margin: var(--spacing-sm);
    padding: var(--spacing-lg);
    height: var(--size-button-height);

    transition-duration: 200ms;
}

.small{
    height: var(--size-button-height-sm);
    padding: var(--spacing-md);
    font-size: var(--font-size-sm);
}

.level1{
    background-color: var(--color-level1-bg);
    color: var(--color-text);
}

.level2{
    background-color: var(--color-level2-bg);
    color: var(--color-text);
}

.icon{
    height: var(--size-icon-ls);
    width: var(--size-icon-ls);
    color: var(--color-button-icon);
    fill: var(--color-button-icon);
    margin-right: var(--spacing-md);
}

.level1 .icon{
    color: var(--color-button-level1-icon);
    fill: var(--color-button-level1-icon);
}

.level2 .icon{
    color: var(--color-button-level1-icon);
    fill: var(--color-button-level1-icon);
}

.disabled{
    background-color: var(--color-button-disabled);
    transition-duration: 200ms;
}