/* Breakpoint : 600px */
/* Breakpoint-large : 800px */

:root {
  /* MaxWidth */
  --size-max-width: 1400px;
  --size-sidebar-max-width:500px;
  --size-notification-modal-width:400px;
  --size-notification-modal-width-small: 90%;
  --size-notification-modal-height:70vh;
  /* MaxWidth Chat Page*/
  --size-input-section-max-width:800px;
  --size-chat-left-section-max-width:400px;
  --size-chat-section-max-height:440px;
  --size-chat-message-max-width: 800px;
  /* MaxWidth Settings page */
  --size-settings-preferences-max-width:800px;
  
  /* Button Size */
  --size-button-height: 45px;
  --size-button-height-sm: 35px;

  /* Input Size */
  --size-input-height: 45px;
  --size-input-height-sm:37px;

  --size-container-width: 1200px;

  /* Radius */
  --size-radius-xs:4px;
  --size-radius-sm:8px;
  --size-radius-ls:12px;
  --size-radius-md:16px;
  --size-radius-lg:24px;
  --size-radius-circle : 50%;
  

  /* Image */
  --size-image-height:12rem;
  --size-image-width:12rem;

  /* Icon Size */
  --size-icon-xs:10px;
  --size-icon-sm:20px;
  --size-icon-ls: 27px;
  --size-icon-md:35px;
  --size-icon-xm: 43px;
  --size-icon-lg:50px;
  --size-icon-xl:65px;
  --size-icon-xxl:85px;

  /* CheckBox size */
  --size-checkbox-sm:20px;
  --size-checkbox-md:25px;
  --size-checkbox-lg:30px;

  /* Border size */
  --size-border-sm: 1px;
  --size-border-md: 2px;
  --size-border-lg: 3px;
  --size-border-xl: 4px;
  --size-border-xxl: 5px;

  /* Switch */
  --size-switch-height: 31px;
  --size-switch-width: 51px;
  --size-switch-head: 27px;
  --size-switch-translate: calc(
    var(--size-switch-width) - var(--size-switch-head) - 2*var(--spacing-switch-head)
  );
}
