:root {
  /* MaxWidth */
  --size-max-width: 1400px;
  --size-sidebar-max-width:500px;
  
  /* Button Size */
  --size-button-height: 45px;
  --size-button-height-sm: 35px;

  /* Input Size */
  --size-input-height: 45px;
  --size-input-height-sm:37px;

  --size-container-width: 1200px;

  /* Radius */
  --size-radius-xs:4px;
  --size-radius-sm:8px;
  --size-radius-ls:12px;
  --size-radius-md:16px;
  --size-radius-lg:24px;
  --size-radius-circle : 50%;
  

  /* Image */
  --size-image-height:12rem;

  /* Icon Size */
  --size-icon-xs:10px;
  --size-icon-sm:20px;
  --size-icon-ls: 27px;
  --size-icon-md:35px;
  --size-icon-xm: 43px;
  --size-icon-lg:50px;
  --size-icon-xl:65px;

  /* CheckBox size */
  --size-checkbox-sm:20px;
  --size-checkbox-md:25px;
  --size-checkbox-lg:30px;

  /* Border size */
  --size-border-sm: 1px;
  --size-border-md: 2px;
  --size-border-lg: 3px;
  --size-border-xl: 4px;
  --size-border-xxl: 5px;
}
