:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-ls: 12px;
  --spacing-md: 16px;
  --spacing-xm: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 64px;
  --spacing-xxxxl: 80px;

  /* Switch */
  --spacing-switch-head: 2px;
}
