/* 1rem = 16px */
:root {
  --font-family: 'Inter', sans-serif;

  --font-size-xs: 0.625rem;
  --font-size-lxs:0.750rem;
  --font-size-sm: 0.875rem;
  --font-size-ls: 0.9375rem;
  --font-size-md: 1rem;
  --font-size-xm: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  --font-heading: var(--font-size-xl);

  --font-height-spacing: 25px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
