.container{
    display: flex;
    /* justify-content: center; */
    align-items: stretch;
}

.questions{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-ls);
}

.label{
    display: flex;
    justify-content: center;
    font-size: var(--font-size-sm);
    color: var(--color-placeholder-text);
}

@media (max-width : 900px) {
    .questions{
        grid-template-columns: repeat(1, 1fr);    
    }
}