.container{
    display: flex;
    margin: var(--spacing-xs);
    padding: var(--spacing-xs);
}

.ask-box{
    background-color: var(--color-level1-bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: var(--size-border-sm) solid var(--color-border-light);
    border-radius: var(--size-radius-md);
    padding: var(--spacing-sm);
    flex-grow: 1;
    max-width: 500px;
    height: var(--size-input-height-sm);
}

.profile-icon-wrapper{
    margin-left: var(--spacing-xsm);
}

.profile-icon{
    height: var(--size-icon-md);
    width: var(--size-icon-md);
}

.text{
    font-size: var(--font-size-md);
    color: var(--color-placeholder-text);
    margin: 0 var(--spacing-lg);
}