.container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    border-radius: var(--size-radius-ls);
    background-color: var(--color-level1-bg); 
    color: var(--color-text);
    max-width: var(--size-max-width);
    /* word-break: break-all; */
}

/* Header : Start */

.header{
    display: flex;
    align-items: center;
    padding-top: var(--spacing-sm);
    /* background-color: red; */
}

.header .title{
    flex-grow: 2;
    font-size: var(--font-heading);
    cursor: pointer;
    word-break: break-all;
}

.header .actions{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    gap: var(--spacing-sm);
    align-items: center;
    margin: 0 var(--spacing-sm);
    /* background-color: aquamarine; */
}

.header .action-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-sm);
    background-color: var(--color-level2-bg);
    border-radius: var(--size-radius-sm);
}

.header .action-icon{
    height: var(--size-icon-ls);
    width: var(--size-icon-ls);
}

.header .meta-data{
    margin: 0 var(--spacing-sm);
    color: var(--color-placeholder-text);
    word-break: keep-all;
}

/* Header : Ends */

/* Footer : Starts */

.footer{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}

.user-profile{
    width: var(--size-icon-ls);
    height: var(--size-icon-ls);
}

.user-data{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left: var(--spacing-md);
    font-size: var(--font-size-lg);
    /* user-select: none; */
    cursor: pointer;
}

.user-education{
    font-size: var(--font-size-sm);
    color: var(--color-subheading-text);
}

.icon{
    height: var(--size-icon-ls);
    width: var(--size-icon-ls);

    color: var(--color-primary);
    margin-left: var(--spacing-sm);
}

.tags{
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    /* margin-left: var(--spacing-md); */
}

/* Footer : Ends */


/* No Answer Component : Start*/
.no-answer-wrapper{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: var(--spacing-sm);
    background-color: var(--color-level2-bg);
    border-radius: var(--size-radius-ls);
    margin: var(--spacing-md) 0;
}
.content-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-all;
}

.rank-icon{
    height: var(--size-icon-lg);
    width: var(--size-icon-lg);
    padding: 0 var(--spacing-sm);
}

.message{
    /* flex-grow: 1; */
    padding: 0 var(--spacing-lg);
    font-size: var(--font-size-lg);
    user-select: none;
}

.answer-now-button{
    max-width: 200px;
}

/* No Answer Component : End */

.wrapper{
    margin: var(--spacing-md) 0;
}

.container img{
    max-height: var(--size-image-height);
    max-width: var(--size-image-width);
    border-radius: var(--size-radius-md);
    padding: var(--spacing-sm) 0px;
}