.wrapper{
    display: flex;
    margin-left: var(--spacing-sm);
    padding: var(--spacing-sm);
}


.error-text{
    font-size: var(--font-size-sm);
    color: var(--color-error);
    overflow: hidden;
    margin-left: var(--spacing-sm);
}

.error-icon{
    height: var(--size-icon-sm);
    /* width: var(--size-icon-sm); */
}